h1 {
  color: rgb(196, 196, 196)
}


.product-details {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  margin-left: 10px;
  color: rgb(126, 126, 126)
}

body {
  font-family: Arial, sans-serif;
  background: rgb(52, 56, 61);
  padding: 20px;
}

#search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background: rgb(33, 106, 196);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-discount {
  margin-bottom: 5px;
}

.product-rating {
  margin-bottom: 5px;
}

.product-stock {
  margin-bottom: 5px;
}

.product-brand {
  margin-bottom: 5px;
}

.product-category {
  margin-bottom: 5px;
}


.SubmitClear {
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.SubmitClear input[type="text"],
.SubmitClear input[type="number"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.SubmitClear button {
  width: 92px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

}

.SubmitClear button:hover {
  background-color: #0056b3;
}

.product-edit-button {
  width: 92px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 90px;


}

.product-delete-button {
  width: 92px;
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;

}

.add-form-container {
  margin: 20px auto;
  max-width: 75%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-form-container h2 {
  margin-bottom: 10px;
}

.add-form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-form-container input[type="text"],
.add-form-container input[type="number"],
.add-form-container textarea,
.add-form-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.add-form-container button[type="submit"],
.add-form-container button[type="button"] {
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.add-form-container button[type="button"] {
  background-color: #f44336;
  margin-left: 10px;
}

.add-form-container button[type="submit"]:hover,
.add-form-container button[type="button"]:hover {
  opacity: 0.8;
}